@font-face {
    font-family: "causten-medium";
    src: url("../fonts/causten-medium-webfont.woff2") format("woff2"),
        url("../fonts/causten-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: "causten-regular";
    src: url("../fonts/causten-regular-webfont.woff2") format("woff2"),
        url("../fonts/causten-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: "montserrat-extrabold";
    src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "poppins-medium";
    src: url("../fonts/poppins_medium.woff2") format("woff2"),
        url("../fonts/poppins_medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}