* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
}

body {
  color: #000;
  font-size: 17px;
  font-weight: normal;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 100%;
}

/* For both vertical and horizontal scrollbars */
.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  padding: 24px 6%;
}
header a.logo {
  width: 92px;
  height: 45px;
  display: block;
}
header a.logo img {
  width: 100%;
  height: 100%;
  display: block;
}
header nav ul#navLinks {
  display: grid;
  gap: 45px;
  grid-template-columns: repeat(5, auto);
}
header nav ul#navLinks li a {
  color: #807D7E;
  font-size: 22px;
  font-family: "causten-medium";
}
header nav ul#navLinks li a:hover {
  color: #3C4242;
}
header div.search-container {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  padding: 12px 20px;
  width: 267px;
}
header div.search-container div.search-icon {
  width: 20px;
  height: 20px;
  display: block;
}
header div.search-container div.search-icon img {
  width: 100%;
  height: 100%;
  display: block;
}
header div.search-container input {
  width: 100%;
  font-family: "causten-regular";
  font-size: 16px;
  color: #807d7e;
}
header div.action-icons {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, auto);
}
header div.action-icons a {
  background-color: #f6f6f6;
  padding: 12px;
  border-radius: 8px;
}
header div.action-icons a:hover {
  background-color: #e0e0e0;
}
header div.action-icons a div {
  width: 15px;
  height: 14px;
  display: block;
}
header div.action-icons a div img {
  width: 100%;
  height: 100%;
  display: block;
}

#banner {
  position: relative;
  overflow: hidden;
}
#banner .slick-dots {
  position: absolute;
  bottom: 30px;
}
#banner .slick-dots li {
  width: 63px;
  height: 10px;
  background: #fff;
  opacity: 50%;
  border-radius: 12px;
  margin: 0 0;
  transition: all 0.3s ease;
}
#banner .slick-dots li:hover {
  opacity: 30%;
}
#banner .slick-dots li.slick-active {
  opacity: 100%;
  width: 62px;
}
#banner .slick-dots li.slick-active:hover {
  opacity: 100%;
}
#banner .slick-dots li:nth-child(1) {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#banner .slick-dots li:nth-child(2) {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
#banner .slick-dots li .horizontal-indicator::before {
  content: "";
}
#banner .custom-arrow {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, transform 0.2s ease;
}
#banner .custom-arrow:hover {
  transform: translateY(-50%) scale(1.1);
}
#banner .slick-prev {
  width: 160px;
  height: 50px;
}
#banner .slick-prev::before {
  content: "";
}
#banner .slick-prev img {
  width: 100%;
  height: 100%;
  display: block;
}
#banner .slick-next {
  width: 160px;
  height: 50px;
}
#banner .slick-next::before {
  content: "";
}
#banner .slick-next img {
  width: 100%;
  height: 100%;
  display: block;
}
#banner div.carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
}
#banner div.carousel-item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.116);
}
#banner div.carousel-item.slide-1 {
  background-image: url(../images/bg-1.jpg);
}
#banner div.carousel-item.slide-2 {
  background-image: url(../images/bg-2.jpg);
}
#banner div.carousel-item div.content {
  padding: 129px 193px;
  position: relative;
  z-index: 2;
}
#banner div.carousel-item div.content h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.16px;
  color: #fff;
  margin-bottom: 30px;
}
#banner div.carousel-item div.content h1 {
  font-size: 78px;
  font-weight: 800;
  line-height: 94px;
  letter-spacing: 0.31px;
  color: #fff;
  margin-bottom: 30px;
}
#banner div.carousel-item div.content p {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.31px;
  color: #fff;
  margin-bottom: 40px;
}
#banner div.carousel-item div.content a.btn {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  text-align: center;
  padding: 16px 56px;
  border-radius: 8px;
  font-weight: 700;
  width: 250px;
  font-size: 24px;
  color: #3c4243;
}

#deals {
  padding: 70px 0;
}
#deals .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
#deals div.deal-container {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 356.2px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  color: #fff;
}
#deals div.deal-container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.112);
  border-radius: 12px;
}
#deals div.deal-container:hover {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5529411765);
}
#deals div.deal-container:nth-child(1) {
  background-image: url(../images/bg-2.jpg);
}
#deals div.deal-container:nth-child(2) {
  background-image: url(../images/bg-3.jpg);
}
#deals div.deal-container .content {
  position: absolute;
  left: 28.12px;
  top: 67.29px;
}
#deals div.deal-container .content h6 {
  font-size: 18px;
  line-height: 30.07px;
  letter-spacing: 0.25px;
  font-weight: 400;
  font-family: "montserrat-extrabold";
  margin-bottom: 5px;
}
#deals div.deal-container .content h1 {
  font-size: 34px;
  line-height: 45.1px;
  font-weight: 800;
  margin-bottom: 10px;
}
#deals div.deal-container .content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 25.06px;
  letter-spacing: 0.25px;
  margin-bottom: 30px;
}
#deals div.deal-container .content a.btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  line-height: 30.13px;
  border-bottom: 1px solid #fff;
}

#arrival {
  position: relative;
  padding-bottom: 70px;
}
#arrival h1 {
  margin-bottom: 33.5px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
  font-size: 34px;
  letter-spacing: 2%;
  line-height: 33.5px;
  color: #3c4242;
}
#arrival h1 span.border {
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background-color: #8A33FD;
}
#arrival .arrival {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 39px;
  padding: 0 30px;
}
#arrival .arrival div.box {
  width: 100%;
}
#arrival .arrival div.box div.img-container {
  width: 262.81px;
  height: 262.81px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
#arrival .arrival div.box div.img-container img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
#arrival .arrival div.box p {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 700;
  color: #3C4242;
  line-height: 100%;
  letter-spacing: 1%;
}
#arrival .custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, transform 0.2s ease;
}
#arrival .custom-arrow:hover {
  transform: translateY(-50%) scale(1.1);
}
#arrival .slick-prev {
  left: 5px;
  width: 14px;
  height: 12px;
}
#arrival .slick-prev::before {
  content: "";
}
#arrival .slick-prev img {
  width: 100%;
  height: 100%;
  display: block;
}
#arrival .slick-next {
  right: 5px;
  width: 14px;
  height: 12px;
}
#arrival .slick-next::before {
  content: "";
}
#arrival .slick-next img {
  width: 100%;
  height: 100%;
  display: block;
}
#arrival .slick-list {
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
}
#arrival .slick-track {
  margin: 0 !important;
  display: flex !important;
  gap: 0 !important;
}
#arrival .slick-slide {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
#arrival .slick-slide p {
  text-align: left !important;
  width: 90%;
}

#fashion {
  padding-bottom: 70px;
}
#fashion .wrapper {
  display: flex;
  align-items: center;
}
#fashion div.container {
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 100%;
  min-width: 614px;
  height: 639.72px;
}
#fashion div.container:nth-child(1) {
  position: relative;
  background-image: url(../images/bg-4.jpg);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
#fashion div.container:nth-child(2) {
  background-image: url(../images/bg-5.jpg);
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}
#fashion div.container .content {
  position: absolute;
  top: 183px;
  left: 74px;
}
#fashion div.container .content h1 {
  height: 84px;
  font-size: 34px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: 0.21px;
  color: #fff;
  margin-bottom: 50px;
}
#fashion div.container .content h4 {
  width: 451px;
  height: 72px;
  font-family: "causten-regular";
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 60px;
}
#fashion div.container .content a.btn {
  display: inline-block;
  width: 168px;
  text-align: center;
  vertical-align: middle;
  border-radius: 8px;
  background-color: #fff;
  padding: 12px 44px;
  font-family: "causten-medium";
  font-size: 18px;
  line-height: 100%;
  font-weight: 600;
  color: #3c4242;
}

#cat4men {
  padding-bottom: 70px;
}
#cat4men div.top {
  text-align: left;
  margin-bottom: 40px;
}
#cat4men div.top h1 {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #3c4242;
  font-size: 34px;
  font-weight: 600;
  line-height: 33.5px;
  letter-spacing: 2%;
}
#cat4men div.top h1 span.border {
  background-color: #8A33FD;
  width: 6px;
  height: 30px;
  border-radius: 10px;
}
#cat4men div.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50.27px;
}
#cat4men div.bottom div.box {
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 270.36px;
  height: 100%;
}
#cat4men div.bottom div.box:hover {
  transform: translateY(-5px);
}
#cat4men div.bottom div.box div.img-container {
  width: 270.36px;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  border-radius: 10px;
  display: block;
}
#cat4men div.bottom div.box div.img-container img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
#cat4men div.bottom div.box div.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cat4men div.bottom div.box div.content div.text h3 {
  font-family: "causten-medium";
  font-weight: 700;
  font-size: 17.88px;
  line-height: 27.93px;
  letter-spacing: -4%;
  color: #2A2F2F;
}
#cat4men div.bottom div.box div.content div.text p {
  font-family: "causten-medium";
  font-weight: 500;
  font-size: 13.41px;
  line-height: 27.93px;
  letter-spacing: -4%;
  color: #7f7f7f;
}
#cat4men div.bottom div.box div.content a.right {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
}
#cat4men div.bottom div.box div.content a.right img {
  width: 100%;
  display: block;
  filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(96%) contrast(92%);
}

#cat4women {
  padding-bottom: 70px;
}
#cat4women div.top {
  text-align: left;
  margin-bottom: 40px;
}
#cat4women div.top h1 {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #3c4242;
  font-size: 34px;
  font-weight: 600;
  line-height: 33.5px;
  letter-spacing: 2%;
}
#cat4women div.top h1 span.border {
  background-color: #8A33FD;
  width: 6px;
  height: 30px;
  border-radius: 10px;
}
#cat4women div.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50.27px;
}
#cat4women div.bottom div.box {
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 270.36px;
  height: 100%;
}
#cat4women div.bottom div.box:hover {
  transform: translateY(-5px);
}
#cat4women div.bottom div.box div.img-container {
  width: 270.36px;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  border-radius: 10px;
  display: block;
}
#cat4women div.bottom div.box div.img-container img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
#cat4women div.bottom div.box div.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cat4women div.bottom div.box div.content div.text h3 {
  font-family: "poppins-medium";
  font-weight: 700;
  font-size: 17.88px;
  line-height: 27.93px;
  letter-spacing: -4%;
  color: #2A2F2F;
}
#cat4women div.bottom div.box div.content div.text p {
  font-family: "poppins-medium";
  font-weight: 500;
  font-size: 13.41px;
  line-height: 27.93px;
  letter-spacing: -4%;
  color: #7f7f7f;
}
#cat4women div.bottom div.box div.content a.right {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
}
#cat4women div.bottom div.box div.content a.right img {
  width: 100%;
  display: block;
  filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(96%) contrast(92%);
}

#brands {
  padding-bottom: 70px;
}
#brands div.container {
  border-radius: 12px;
  background: #3C4242;
  width: 100%;
  height: 100%;
  min-height: 357.17px;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#brands div.container div.top h1 {
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
  margin-bottom: 35px;
}
#brands div.container div.top p {
  font-family: "causten-regular";
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
#brands div.container div.top p span {
  font-family: "causten-medium";
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #fbd103;
}
#brands div.container div.bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}
#brands div.container div.bottom div.img-container {
  width: 177.51px;
  height: 85.55px;
  opacity: 1;
  display: block;
}
#brands div.container div.bottom div.img-container img {
  width: 100%;
  border-radius: 12px;
  height: 100%;
  display: block;
}

#limelight {
  padding-bottom: 70px;
}
#limelight div.top {
  text-align: left;
  margin-bottom: 40px;
}
#limelight div.top h1 {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #3c4242;
  font-size: 34px;
  font-weight: 600;
  line-height: 33.5px;
  letter-spacing: 2%;
}
#limelight div.top h1 span.border {
  background-color: #8A33FD;
  width: 6px;
  height: 30px;
  border-radius: 10px;
}
#limelight div.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}
#limelight div.bottom a.card {
  position: relative;
  transition: transform 0.3s ease;
  width: 282px;
  height: 100%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#limelight div.bottom a.card:hover {
  transform: translateY(-5px);
}
#limelight div.bottom a.card .container .img-container {
  position: relative;
}
#limelight div.bottom a.card .container .img-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}
#limelight div.bottom a.card .container .like-icon {
  position: absolute;
  top: 26.73px;
  left: 228.95px;
  background: #fff;
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
#limelight div.bottom a.card .container .like-icon img {
  width: 14px;
  height: 14px;
  display: block;
}
#limelight div.bottom a.card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#limelight div.bottom a.card .info div.text h3 {
  font-family: "causten-medium";
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #3C4242;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#limelight div.bottom a.card .info div.text p {
  font-family: "causten-medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #807D7E;
}
#limelight div.bottom a.card .info button.price-btn {
  cursor: pointer;
  width: 82.3px;
  height: 36.58px;
  text-align: center;
  border-radius: 8px;
  background-color: #F6F6F6;
  font-family: "causten-medium";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #3C4242;
}/*# sourceMappingURL=styles.css.map */